{{!-- views/restaurant.hbs --}}

<p>{{ restaurant.name }}</p> {{!-- 在項目頁顯示 restaurant 的名稱 --}}
<a href="/restaurants/{{restaurant.id}}/edit">edit</a> {{!-- 加入編輯按鈕 --}}
<a href="/restaurants">back</a> {{!-- 在項目頁提供一個 Back 按鈕，返回 restaurants 清單頁 --}}
<form {{!-- 用 delete 按鈕發出一個 POST 請求，而 <a> 只能發 GET 請求，所以這裡需要用 <form>： --}}
  action="/restaurants/{{restaurant.id}}?_method=DELETE" {{!-- 把 this.id 換成 restaurant.id --}}
  method="POST"
  style="display: inline;"> {{!-- 讓按鈕顯示在同一列 --}}
  <button type="submit">delete</button>
</form>